{% block root %}
    
    <ul class="breadcrumbs">
        {% for label,breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb }}">{{ label }}</a></li>
		{% endfor %}
    </ul>
    
{% endblock %}
